<div class="center hero-unit">
  <h1>Welcome to:<br />  "Connect To Friends"</h1>

  <h2>
    This site help you be connected
    to your friend's!
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("github.jpeg", alt: "GitHub"), 'https://github.com/oles89' %>